{% load static %}

<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset="UTF-8">
        <meta name = "viewport" content="width=device-width, initial-scale=1.0">
        <title>Movie Recommender</title>
        <link rel="stylesheet" href="{% static 'CSS/Search.css' %}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <div id="header-wrapper">
            <div id="Title">
                <h1 id="LumaRank">Luma Rank</h1>
                <i class='bx bx-planet'></i>
            </div>
            <div id="header-link-wrapper">
                <div class="header-link" id="home-link">
                    <a href="{% url 'main' %}">Home</a>
                </div>
                <div class="header-link" id="home-link">
                    <a href="">My Ranked</a>
                </div>
                <div class="header-link" id="home-link">
                    <a href="">My Unranked</a>
                </div>
            </div>

            <div id="menu-button-wrapper">
                <button id="menu-button"><i class='bx bx-menu'></i></button>
            </div>
        </div>

        <!-- overlay: takes up full screen (fixed position) so user cant click outside of specified movie pop up border-->
        <div class="overlay" id="overlay"></div>

        <!-- pop up for menu -->
        <div class="menu-popup">
            <div class="logout">
                <a href="{% url 'login' %}"> <button class="logout-button">Logout</button> </a>
            </div>
        </div>

        <div id="search-wrapper">
            
            <div id="search-bar">
                <input id='search'></input>
            </div>

            <div id="search-spacing1"></div>

            <!--dynamic: display movie titles when user types-->
            <div id="search-popup">

                <div class="search-result" id="mario">
                    <div class="movie">
                        <img src="{% static 'test.jpg' %}" id="movie-image">
                    </div>
                    
                    <div class="text-container">
                        <div id="title">Title: Mario</div>
                        <div id="year">year: 2024</div>
                        <div id="rating">Rating: Will</div>
                    </div>

                    <div class="add-button">
                        <button class="add">Add</button>
                    </div>
                </div>

            </div>
        </div>
        

         <script src="{% static 'JS/search.js' %}"></script>
        
    </body>
</html>